html,
body {
    background-color: #343009;
    color: #F7E7D4;
    margin: 0 !important;
    width: 100%;
    min-height:80%;
}
a{
    text-decoration: none;
}
.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 30;
    position: sticky;
    text-decoration: none !important;
    color:white;
}
.title:hover{
    color: rgb(104, 238, 238);
}
#nav{
    width:100%;
    background-color:rebeccapurple;
    text-align: center;
}
#car{
    background-color: beige;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 10px;
    padding: 10px 0;
    background-color: #aaf;
}
.car{
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}
.txt>div{
    background-color: rebeccapurple;
    margin-left:auto ;
    margin-right: auto;
    width: max-content;
    position: relative;
    text-align: center;
}
.txt-name{
    color:white;
    position: absolute;
    width: 90%;
    top: 5%;
    left:5%;
    font-size: 18px;
    transition: all 1.5s ease-in-out 0s;

}
.txt{
    color:white;
    position: absolute;
    width: 100%;
    top: 50%;
    opacity: 35%;
    font-size: 18px;
    transition: all 1.5s ease-in-out 0s;
}   
img{
    width: 350px;
    object-fit: cover;
}
.car:hover>.txt{
    opacity:100%;
    font-size: 200%;
}
footer{
    width: 100%;
    background-color: rgb(150, 64, 255);
    color: white;
    text-align: center;
    font-size:1.5em;
}
